<div class="container">

  <div [class]="['header-top']">
    <div [class]="['main__invoice']">
      <p [ngClass]="['main__invoice-text']">{{ mainInvoiceText }} </p>
      <span><a href="#"> {{ reviewInvoice }} </a> </span>
    </div>

    <div class="main__invoice-title">
      <p>{{ allInvoicesDone }}</p>
    </div>
  </div>

  <div class="main__discounts">
    <div [ngClass]="['header-left']">
      <p class="main__discounts-title">{{ discountTitle }}</p>
      <div class="main__discounts-content">
        <div ><img class="main__discounts-image"
          src="../../assets/friends-icon.png" alt=""></div>
        <ul class="main__discounts-steps">
          <li class="main__discounts-step" *ngFor="let step of steps">{{ step }}</li>
        </ul>
      </div>
      <div class="main__discounts-button">
        <button class="btn btn-warning">{{ btnReceiveDiscount }}</button>
      </div>
    </div>
    <div [ngClass]="['header-right']">
      <p class="main__discounts-title"> {{ discountOfMonth }}</p>
      <ul class="main__discounts-content">
        <li class="main__discounts-item" *ngFor="let i of [].constructor(3)">
          <img class="main__discounts-steps-image" src="../../assets/hilton_icon.png" alt="">
          <p class="main__discounts-steps-text">{{ randomText }}</p>
        </li>
      </ul>
      <div class="main__discounts-button">
        <button class="btn btn-warning">{{ btnReceiveDiscount }}</button>
      </div>
    </div>
  </div>
</div>
