.footer {
  background-color: #eeeeee;
  border-top: 5px solid #fca311;

}
.contact-list {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  color: #273747;
}
.phone {
  color: #273747;
  text-decoration: none;
}

.fa-fb-style {
  color: #559AD1;
  padding-right: 5px;
}
.fa-gp-style {
  color: red;
  padding-right: 5px;
}
.fa-tw-style {
  color: lightskyblue;
}
