body {
  background-color: blue;
}

.service__item {
  padding: 40px;
}

.service__text_centr {
  text-align: center;
  font-size: 26px;
  margin-top: 15px;
}

.service__address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.service__border-address {
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ffc107;
  background-color: white;
  cursor: default;
}

.service__border-text {
  margin-top: 1em;
  padding-right: 15px;
}

.service-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.service-list_item {
  justify-content: center;
}

ul {
  padding: 0px;
}

.service-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.service-list-item_internet {
  padding-right: 20px;
}

.service-list-item-description {
  display: block;
  margin-bottom: 15px;
}

.service-list-item_bold {
  font-weight: 700;
  display: block;
  color: black;
}

.service-list-item-image {
  margin-right: 15px;
}

.service-list-item-plis-sign {
  text-align: center;
  margin-bottom: 15px;
}

ul li:last-child {
  margin-right: 0;
}
