<div class="container">
  <p [ngClass]="['service__text_centr']">Подключенные услуги</p>

  <div [ngStyle]="{
                  'background-color': 'white',
                  'flex-direction': 'column',
                  'margin': 'auto',
                  'display': 'flex',
                  'align-items': 'center',
                  'justify-content': 'center',
                  'border-radius': '10px' }">
    <div [class]="['service__address']">
      <p [ngClass]="['service__border-text']">Адрес подключения: </p>
      <button class="service__border-address">Riga, Dolomita 21, dz. 58</button>
    </div>
    <div>
      <ul class="service-list">
        <li [class]="[ 'service-list-item'  ]">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Интернет</span>
            <span>До {{ speed }} Мбит</span>
          </div>
        </li>

        <li [class]="['service-list-item']">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Аналоговое TV</span>
            <span>Кол-во каналов: 54</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <p [ngClass]="['service__text_centr']">Изменить услуги</p>
  <ul class="service-list">
    <li [class]="[ 'service-list-item' ]">
      <div [ngStyle]="{
      'padding': '40px',
      'background-color': 'white',
      'flex-direction': 'column',
      'margin': 'auto',
      'display': 'flex',

      'justify-content': 'center',
      'border-radius': '10px' }">
        <div class="service-list">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Оптический интернет</span>
            <span>До {{ speed }} Мбит</span>
          </div>
        </div>

        <div class="service-list-item-plis-sign">
          <img src="../assets/plussign.png" alt="">
        </div>
        <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Аналоговое TV</span>
            <span>Кол-во каналов: {{ channels }}</span>
          </div>
        </div>
        <button (click)="showDialog = !showDialog" (click)="totalSpeed = speed"
        (click)="totalChannels = channels" type="button" class="btn btn-warning">Узнать цену</button>
      </div>
    </li>
    <li [class]="[ 'service-list-item' ]">
      <div [ngStyle]="{
      'padding': '40px',
      'background-color': 'white',
      'flex-direction': 'column',
      'margin': 'auto',
      'display': 'flex',
      'justify-content': 'center',
      'border-radius': '10px' }">
        <div class="service-list">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Оптический интернет</span>
            <span>До {{ speed + speed  }} Мбит</span>
          </div>
        </div>

        <div class="service-list-item-plis-sign">
          <img src="../assets/plussign.png" alt="">
        </div>
        <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Аналоговое TV</span>
            <span>Кол-во каналов: {{ channels*2 }}</span>
          </div>
        </div>
        <button (click)="showDialog = !showDialog" (click)="totalSpeed = speed + speed"
        (click)="totalChannels = channels*2" type="button" class="btn btn-warning">Узнать цену</button>
      </div>
    </li>
    <li [class]="[ 'service-list-item' ]">
      <div [ngStyle]="{
      'padding': '40px',
      'background-color': 'white',
      'flex-direction': 'column',
      'margin': 'auto',
      'display': 'flex',
      'justify-content': 'center',
      'border-radius': '10px' }">
        <div class="service-list">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Оптический интернет</span>
            <span>До {{ speed*5}} Мбит</span>
          </div>
        </div>

        <div class="service-list-item-plis-sign">
          <img src="../assets/plussign.png" alt="">
        </div>
        <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Аналоговое TV</span>
            <span>Кол-во каналов: {{ channels*3 }}</span>
          </div>
        </div>
        <button (click)="showDialog = !showDialog" (click)="totalSpeed = speed*5"
        (click)="totalChannels = channels*3" type="button" class="btn btn-warning">Узнать цену</button>
      </div>
    </li>
  </ul>

  <app-dialog [(visible)]="showDialog" [speedDialog]="totalSpeed" [channelDialog]="totalChannels"></app-dialog>
</div>
