<div class="container">
  <p [ngClass]="['service__text_centr']">Attached services</p>

  <div [ngStyle]="{
                  'background-color': 'white',
                  'flex-direction': 'column',
                  'margin': 'auto',
                  'display': 'flex',
                  'align-items': 'center',
                  'justify-content': 'center',
                  'border-radius': '10px' }" >
    <div [class]="['service__address']">
      <p [ngClass]="['service__border-text']">Main address: </p>
      <button class="service__border-address">Riga, Dolomita 21, dz. 58</button>
    </div>
    <div>
      <ul class="service-list">
        <li [class]="[ 'service-list-item'  ]">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Internet</span>
            <span>Till {{ speed }} Mbit</span>
          </div>
        </li>
        <li [class]="['service-list-item']">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">Analog TV</span>
            <span>Number of channels: 54</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <p [ngClass]="['service__text_centr']">Change services</p>
  <ul class="service-list">
    <li [class]="[ 'service-list-item' ]" *ngFor="let service of services">
      <div [ngStyle]="{
      'background-color': 'white',
      'flex-direction': 'column',
      'margin': 'auto',
      'display': 'flex',
      'justify-content': 'center',
      'border-radius': '10px' }" class="service__item">
        <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
          <div class="service-list-item-image">
            <img src="../assets/internet.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">{{ service.internetTitle }}</span>
            <span>Till {{ service.speed }} Mbit</span>
          </div>
        </div>
        <div class="service-list-item-plis-sign">
          <img src="../assets/plussign2.png" alt="">
        </div>
        <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
          <div class="service-list-item-image">
            <img src="../assets/tv.png" alt="">
          </div>
          <div class="service-list-item-description">
            <span class="service-list-item_bold">{{ service.tvTitle}}</span>
            <span>Number of channels: {{ service.channels }}</span>
          </div>
        </div>
        <button (click)="showDialog = !showDialog" (click)="totalSpeed = service.speed"
          (click)="totalChannels = service.channels" type="button" class="btn btn-warning">Find out price</button>
      </div>
    </li>
  </ul>

  <app-dialog [(visible)]="showDialog" [speedDialog]="totalSpeed" [channelDialog]="totalChannels"></app-dialog>
</div>
