<div [@dialog] *ngIf="visible" class="dialog">
  <div [class]="[ 'service-list-item' ]">
    <div [ngStyle]="{
      'padding': '40px',
      'background-color': 'white',
      'flex-direction': 'column',
      'margin': 'auto',
      'display': 'flex',
      'justify-content': 'center',
      'border-radius': '10px',
      'border': '2px solid' }">
      <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
        <div class="service-list-item-image">
          <img src="../assets/internet.png" alt="">
        </div>
        <div class="service-list-item-description">
          <span class="service-list-item_bold">Optical Internet</span>
          <span>Till {{ speedDialog }} Mbit</span>
        </div>
      </div>
      <div class="service-list-item-plis-sign">
        <img src="../assets/plussign2.png" alt="">
      </div>
      <div class="service-list" [ngStyle]="{ 'justify-content': 'unset' }">
        <div class="service-list-item-image">
          <img src="../assets/tv.png" alt="">
        </div>
        <div class="service-list-item-description">
          <span class="service-list-item_bold">Analog TV</span>
          <span>Number of channels:: {{ channelDialog }}</span>
        </div>
      </div>
      <div >
        <form  [formGroup]="inputForm">
          <input appDialogBorder style="width: 100%; font-size:14px; margin-bottom: 5px;" formControlName="phone" type="text" placeholder="Phone number">
          <span style="display: block; color: red; padding-top: 5px; padding-bottom: 5px;"
          *ngIf="!inputForm.get('phone').valid && inputForm.get('phone').touched" class="help-block">Only numbers!</span>
          <div class="text-center">
            <button (click)="close()"
                    (click)="inputForm.reset()"
                    type="button"
                    class="btn btn-warning ">Find out price</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
